<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Teacher Journals</title>

  <%= stylesheet_link_tag 'bootstrap.min.css' %>
  <%= stylesheet_link_tag 'all.min.css' %>
  
  <%= stylesheet_link_tag 'blog-home.css' %>
  <%= stylesheet_link_tag 'scrolling-nav.css' %>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Teaching Journal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>

          

         

          <% if current_user %>

          <li class="nav-item">

              <%= link_to "Sign Out",destroy_user_session_path, :class=>'nav-link js-scroll-trigger', method: :delete%>
          </li>
          <li class="nav-item">
             <%= link_to "Posts" ,posts_path, :class=>'nav-link js-scroll-trigger' %>
          </li>

           <%else%>
           <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, :class=>'nav-link js-scroll-trigger' %>
          </li>
            <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, :class=>'nav-link js-scroll-trigger' %>
          </li>
          <%end%>
          <li class="nav-item">
            <%= link_to "Back", root_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card-text">
          <p><i class="fas fa-book" style="color: blue;"></i> Learning Theory Dictionary</p>
          <p><i class="fas fa-lightbulb" style="color: blue;"></i> Teaching Ideas</p>
        </div>

      </div>

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h3 class="my-4">Home
          <small></small>
        </h3>

        <div class="mb-4">
          <div class="row mt-1 mb-1 ml-1 mr-0">
            <div class="col-md-1">
              <img src="https://picsum.photos/seed/picsum/60/60" class="rounded-circle" alt="">
            </div>
            <div class="col-md-10 ml-2 say-something">
              <form action="#">
                <textarea name="" id="" cols="61" rows="2" class="say-something"
                  placeholder="want to share something?"></textarea>
                <div class="row">
                  <div class="col-md-4">
                    <i class="fas fa-hashtag fa-lg mr-1" style="color: blue;"></i>
                    <i class="fas fa-paperclip fa-lg mr-1" style="color: blue;"></i>
                    <i class="fas fa-image fa-lg mr-1" data-toggle="modal" data-target="#exampleModal"
                      style="color: blue;"></i>
                  </div>
                  <div class="col-md-8">
                    <button type="submit" class="btn btn-primary btn-sm float-right">Share</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="">
                  <input type="file" name="image" id="">
                  <input type="submit" class="btn btn-primary" value="submit">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">

        </div>

        <div class="mb-4">
          <div class="row">
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("2.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("3.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("4.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("2.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("3.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
            <div class="col-md-3 mt-1 mb-1">
              <%= image_tag("1.jpg", :class=>'img-thumbnail') %>
            </div>
          </div>

        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>




</body>

</html>