<% provide(:title,'Simple Scraping')%>
<%= render 'layouts/header'%>
<h1 class='display-4 text-center'>Fox News: <%= @fox_title %></h1>
    <div class='container'>
        <div class="card mb-3">
                <img class="card-img-top"  src=<%= @fox_imageUrl %> alt="Card image cap">
                <div class="card-body">
                    <div class="card-text"><strong> News Content : </strong><%= @fox_content %></div>
            </div>
        </div>

    <br />
    <h1 class='display-4 text-center'>Bangkok Post News: <%= @bp_title %></h1>
        <div class="card mb-3">
            <img class="card-img-top" src=<%= @bp_imageUrl %> alt="Card image cap">
            <div class="card-body">
            <div class="card-text"><strong> News Content : </strong><%= @bp_content %>
            </div>
        </div>