<<<<<<< HEAD
<nav class="navbar">
  <span class="navbar-brand mb-0 h1">Quatations</span>
  <span><%= link_to 'Back', quotations_path %></span>
</span>
</nav>
<h1>Editing Quotation</h1>
<%= render 'form', quotation: @quotation %>
=======
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Quotations</span>
<a class="nav-link" href="#"><%= link_to 'Show', @quotation %></a>
<a class="nav-link" href="#"><%= link_to "Back", quotations_path %></a>

</nav>

<h1>Editing Quotation</h1>

<%= render 'form', quotation: @quotation %>


>>>>>>> f43ca1b3958567ad1b0fec7d0e3e88641938fc91
