<head>
    <%= csrf_meta_tags %>
</head>

<div class="container">
    <% if notice %>
    <div class="alert alert-success" role="alert" style="margin-top:8px">
        <%= notice %>
    </div>
    <% end %>
    <h1>Quotations</h1>
    <form class="form-inline" method="POST" action='search'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input class="form-control form-control-sm w-40" type="text" name="search" placeholder="Search" aria-label="Search">
        <input class="btn btn-primary btn-sm form-control ml-1 mt-2 w-30" type="submit" name="submit" value="Search">
    </form>

    <%
=begin%>
    <form class="form-inline" method="POST" action='sort'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="sort" value=<%= @sort ? @sort : '' %>>
        <input class="btn btn-warning btn-sm mt-3 form-control" type="submit" name="submit" value="Sort by date">
    </form>
    <%
=end%>


    <a href="/sort?sort_name=<%= @sort_by ? @sort_by : 'date' %>" class="btn btn-warning btn-sm mt-3 mb-2">
        Sort by <%= @sort_by ? @sort_by : 'date' %>
    </a>


    <% if session[:destroy] %>
    <div class="erase" style='margin:3px'>
        <form method="POST" action='erase_personalization'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="cookies" value="GET_COOKIES">
            <input class="btn btn-danger" type="submit" name="submit" value="Erase my personalization">
        </form>
    </div>
    <% end %>

    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Author name</th>
                <th>Category</th>
                <th>Quotation</th>
                <th colspan="3" class="fix" style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @quotations.each do |quotation| %>
            <tr>
                <td><%= quotation.author_name %></td>
                <td><%= quotation.category %></td>
                <td><%= quotation.quotation %></td>
                <td><%= link_to 'Destroy', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to 'New Quotation', new_quotation_path, class:"btn btn-primary" %>
    <%= link_to 'Back', quotations_path %>
</div>