<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
<nav class="navbar navbar-light bg-light">
<div class='container-fluid'>
  <span class="navbar-brand md-0 h1">Web : 7 ☕️</span>
  <span class="navbar-text">
      © WAE 2020.
    </span>
</div>
</nav>
  <body>
      <div class='container-fluid'>
        <div class="row h-100 justify-content-center">
          <div class='col-lg-10 align-self-end'>
            <%= yield %>
          </div>
        </div>
      </div>
      <br>
      <br>
      <%= render 'layouts/footer'%>
  </body>
</html>
