<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title><%= full_title(yield(:title))%></title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
=======
    <title>Web7app</title>
>>>>>>> f43ca1b3958567ad1b0fec7d0e3e88641938fc91
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
    
  </head>

  <body>
      <div class='centerDiv'>
        <div class="row h-100 justify-content-center">
          <div class='col-lg-10 align-self-end'>
          <%= yield %>
          </div>
        </div>
      </div>
      <br />
      <br />
      <%= render 'layouts/footer'%>
  </body>
=======
  </head>

  <body>
    <div class='centerDiv'>
      <%= yield %>
    </div>
  </body>
  <div class='footer'>
      <p>
        <a href="https://validator.w3.org/check?uri=referer"><img
            src="http://www.w3.org/Icons/valid-xhtml11.png"
            alt="Valid XHTML 1.1!" height="31" width="88" /></a>
      </p>
  </div>
>>>>>>> f43ca1b3958567ad1b0fec7d0e3e88641938fc91
</html>
